
 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  display: flex;
  height: 100vh;
  color: #000;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-y: auto;
}

h1 {
  text-align: center;
  color: #333;
}

.section {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #555;
}

.customer-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-group {
  margin-bottom: 15px;
  flex: 1;
  min-width: 200px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
}

input[type="text"], input[type="email"], input[type="number"], select {
  width: 100%;
  padding: 12px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}

button.remove-item-button {
  background: none;
  border: none;
  color: #dc3545;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

button#add-item-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  font-size: 1em;
}

button#add-bill-button {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  font-size: 1.2em;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.item-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.item-row .form-group {
  flex: 1;
  min-width: 200px;
}

.error-message {
  color: red;
  font-size: 12px;
  display: none;
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.sidebar {
  min-width: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

.sidebar img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.sidebar a {
  color: #000;
  text-decoration: none;
  padding: 20px;
  margin: 0;
  display: flex;
  align-items: center;
}

.sidebar a.active {
  background-color: #CCE6F4; /* Light blue color for active tab */
  color: #000;
  border-left: 4px solid #0047b3; /* Strong blue line on the left */
}

.sidebar a:hover {
  background-color: #e0e0e0;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  .customer-info,
  .item-row .form-group {
    flex: 1 1 100%;
  }

  button#add-item-button {
    width: 100%;
  }

  .sidebar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
  }

  .container {
    margin-top: 20px;
  }
}
